<%= turbo_stream_from "qoutes" %>

<main class="container">
  <div class="header">
    <h1>Qoutes</h1>
    <%= link_to "New qoute",
                new_qoute_path,
                class: "btn btn--primary",
                data: { turbo_frame: dom_id(Qoute.new) } %>
  </div>
  <%= turbo_frame_tag Qoute.new %>
  <%= turbo_frame_tag "qoutes" do %>
    <%= render @qoutes %>
  <% end %>
</main>